<!-- <div class="ui raised very padded text container segment blog_raisedsegment">
  <h2>Welcome to Angular Rxjs Application</h2>
  <p>This is blog review site demo</p>
  <p>Check out the blogs below and rate them</p>
  <br>
  <div class="container">
    <button class="ui primary button">Create Blog</button>
  </div>
</div>
<br>
<app-blogList></app-blogList> -->

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h2 class="display-4">Welcome to Angular Rxjs Application</h2>
        <p class="lead">This is blog review site demo</p>
        <hr class="my-2">
        <p>Check out the blogs below and rate them</p>
        <button class="btn btn-success">Create Blog</button>
    </div>
</div>
<br>
<app-blogList></app-blogList>

