<nav class="navbar navbar-dark bg-info text-light">
  <div class="container">
    <div class="display-4">Welcome to Angular Blog Application Demo</div>
        <div class="lead">You may review the blogs, add new blogs, edit existing blogs, add comments to existing blogs</div>
  </div>
</nav>
<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand">Links</span>
  <ul class="navbar-nav flexRow mr-auto">
    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link" 
          routerLink="/blogList" 
          routerLinkActive="active" 
          [routerLinkActiveOptions]="{exact: true}">
        All Blogs
      </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" 
          routerLink="/newBlog" 
          routerLinkActive="active">
        New Blog
      </a>
    </li>
  </ul>
</nav>

<div class="content">
  <router-outlet></router-outlet>
</div>