<!-- <div>
    <div style="margin-left:40px" *ngIf="replyMode !== true">
        <a style="color: #007bff; cursor: pointer; font-weight: 600" (click)="enterReplyMode()">Reply</a>
    </div>
    <br>
    <div class="ui info message" 
         *ngIf="replyMode !== true && replyCommentList.length !== 0" 
         style="background-color: ghostwhite; 
                float: right; 
                display: block; 
                max-width: 840px; 
                min-width: 840px; 
                margin-bottom: 20px;">
         <h5>Replied Comments</h5>
         <div *ngFor="let comment of replyCommentList" class="media border-light rounded" [id]="comment.id">
            <div class="text-dark commentC nav-primary">
                <div class="media-body text-justify">
                    {{comment.content}}
                </div>
                <span class="badge badge-light pull-right">
                    <span color="blue">{{comment.author}}</span>&nbsp; - &nbsp; {{comment.time | date:'medium'}}
                </span>        
            </div>
         </div>
    </div>
</div>
<br>
<div class="raised segment" *ngIf="replyMode === true">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="ui form">

        <div class="field">
            <label for="blogreplyContent">Content:</label>
            <textarea type="text" id="blogreplyContent" formControlName="content"></textarea>
        </div>

        <div class="field">
            <label for="blogreplyAuthor">Author:</label>
            <input type="text" id="blogreplyAuthor" formControlName="author">
        </div>

        <div style ="padding:10px  5px; float:right;">
            <button type="submit" class="btn btn-info" [disabled]="!myForm.valid">Submit</button>
        </div>

        <div style ="padding:10px  5px;; float:right;">
            <button  class="btn btn-danger" (click)="exitReplyCommentMode()">Cancel</button>
        </div>

    </form>
</div>
<br> -->