<div class="container">
  <div class="jumbotron">
    <app-topbar></app-topbar>
  </div>
  <div class="routertag-container" style="display: flex;">
      <div class="nav-item">
          <a class="nav-link" routerLink="MedicalEquipment" routerLinkActive='active'>Medical Equipment</a>
      </div>
      <div>
          <a class="nav-link" routerLink="MobileServices" routerLinkActive='active'>Mobile Services</a>
      </div>
  </div>
  <div class="ui bottom">
    <app-bottombar></app-bottombar>
  </div>
</div>
