<div class="raised segment">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="ui form">

        <div class="field">
            <label for="blogTitle">Title:</label>
            <input type="text" id="blogTitle" formControlName="title">
        </div>

        <div class="field">
            <label for="blogContent">Content:</label>
            <textarea type="text" id="blogContent" formControlName="content"></textarea>
        </div>

        <div class="field">
            <label for="blogAuthor">Author:</label>
            <input type="text" id="blogAuthor" formControlName="author">
        </div>

        <div style ="padding:10px  5px; float:right;">
            <button type="submit" class="btn btn-info" [disabled]="!myForm.valid" style="background-color: black; border-color: black;">Submit</button>
        </div>

        <div style ="padding:10px  5px;; float:right;">
            <button  class="btn btn-danger" (click)="exitCreateBlog()">Cancel</button>
        </div>

    </form>
</div>